In [1]:
import json
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go

#### Загружаем данные из файла json

In [2]:
with open('train_01.json', 'r') as myfile:
    data=myfile.read()
obj = json.loads(data)

In [3]:
obj

{'inside': [[0.7295200749361322, 0.7286337326606256],
  [0.826505923560258, 0.9403158114766519],
  [0.6023139955320228, 0.4890999051968531],
  [0.7924301535257385, 0.9724603339895345],
  [0.3739062132424882, 0.3807945141554343],
  [0.5213825315815278, 0.7011647516840395],
  [0.5799489554848042, 0.860210492806848],
  [0.4472712889659769, 0.23208680582951224],
  [0.8266928088733442, 0.9708616047497776],
  [0.2096090384196102, 0.07948946448504302],
  [0.33832612728389067, 0.4113630733104253],
  [0.68383264433507, 0.9003136248995234],
  [0.3974079484193441, 0.44643242592599985],
  [0.26193673674112883, 0.20727182114712916]],
 'outside': [[0.846590438950232, 0.12680486596335516],
  [0.11671041192819076, 0.8523469688748586],
  [0.8939436660435063, 0.20441969005621619],
  [0.196515524259539, 0.7563403480339516],
  [0.762462325724514, 0.17675381094088127],
  [0.8646206065391742, 0.4289513713302239],
  [0.7086382515784717, 0.1718070095596751],
  [0.07308462517167347, 0.7068687883532849],
  [0.7429722924973284, 0.19681071128913086],
  [0.685062552324161, 0.011556200983953824],
  [0.05599840395566957, 0.5147182562252324],
  [0.9645548277207796, 0.4500437929854587],
  [0.25076267013066156, 0.8845898320940508],
  [0.12851981469617013, 0.7983431014344502],
  [0.01817344753341743, 0.845385785214988]]}

In [5]:
df = pd.DataFrame(obj['inside'], columns = ['x', 'y'])
df['k'] = 1
for line in obj['outside']:
    df = df.append({'x': line[0], 'y': line[1], 'k': -1}, ignore_index=True)

In [6]:
df

           x         y    k
0   0.729520  0.728634  1.0
1   0.826506  0.940316  1.0
2   0.602314  0.489100  1.0
3   0.792430  0.972460  1.0
4   0.373906  0.380795  1.0
5   0.521383  0.701165  1.0
6   0.579949  0.860210  1.0
7   0.447271  0.232087  1.0
8   0.826693  0.970862  1.0
9   0.209609  0.079489  1.0
10  0.338326  0.411363  1.0
11  0.683833  0.900314  1.0
12  0.397408  0.446432  1.0
13  0.261937  0.207272  1.0
14  0.846590  0.126805 -1.0
15  0.116710  0.852347 -1.0
16  0.893944  0.204420 -1.0
17  0.196516  0.756340 -1.0
18  0.762462  0.176754 -1.0
19  0.864621  0.428951 -1.0
20  0.708638  0.171807 -1.0
21  0.073085  0.706869 -1.0
22  0.742972  0.196811 -1.0
23  0.685063  0.011556 -1.0
24  0.055998  0.514718 -1.0
25  0.964555  0.450044 -1.0
26  0.250763  0.884590 -1.0
27  0.128520  0.798343 -1.0
28  0.018173  0.845386 -1.0